---
Language: Cpp
BasedOnStyle: Google
IndentWidth: 4
PPIndentWidth: 1
IndentPPDirectives: AfterHash
IndentCaseLabels: false
IncludeBlocks: Preserve
SortIncludes: true
SpaceAfterCStyleCast: false
AllowShortIfStatementsOnASingleLine : Never
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AlignConsecutiveMacros: true
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
Cpp11BracedListStyle: false
InsertNewlineAtEOF: true
SpacesInContainerLiterals: false
BinPackArguments: true
BinPackParameters: true
AlignAfterOpenBracket: Align
BracedInitializerIndentWidth: 4
SeparateDefinitionBlocks: Always
BreakBeforeBraces: Custom
AllowShortCaseLabelsOnASingleLine: true
BraceWrapping:
  AfterControlStatement: MultiLine
  AfterCaseLabel: false
  AfterEnum: false
  AfterFunction: true
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
PackConstructorInitializers: Never
BreakConstructorInitializers: BeforeComma
---
