*.o
*.a
*.d
*.exe
.depend

/config.h
/config.mak
/config.log
/mpv
/mpv.app
/version.h
/core/input/input_conf.h
/tags
/TAGS
/video/out/gl_video_shaders.h
/video/out/vdpau_template.c
/demux/ebml_defs.c
/demux/ebml_types.h
/sub/osd_font.h
/DOCS/man/*/mpv.1

