*.o
*.a
*.d
.depend

/config.h
/config.mak
/config.log
/mplayer
/version.h
/codecs.conf.h
/codec-cfg
/cpuinfo
/tags
/TAGS
/locale
/po
/libmpdemux/ebml_defs.c
/libmpdemux/ebml_types.h
/libvo/vdpau_template.c
