*.o
*.a
*.d
.depend

/config.h
/config.mak
/config.log
/mplayer
/version.h
/codecs.conf.h
/input/input_conf.h
/codec-cfg
/cpuinfo
/tags
/TAGS
/locale
/po
/libvo/vo_gl3_shaders.h
/libmpdemux/ebml_defs.c
/libmpdemux/ebml_types.h
/libvo/vdpau_template.c
/sub/osd_font.h
