<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundleDocumentTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>AAC</string>
          <string>AC3</string>
          <string>AIFF</string>
          <string>M4A</string>
          <string>MKA</string>
          <string>MP3</string>
          <string>OGG</string>
          <string>PCM</string>
          <string>VAW</string>
          <string>WAV</string>
          <string>WAW</string>
          <string>WMA</string>
          <string>aac</string>
          <string>ac3</string>
          <string>aiff</string>
          <string>m4a</string>
          <string>mka</string>
          <string>mp3</string>
          <string>ogg</string>
          <string>pcm</string>
          <string>vaw</string>
          <string>wav</string>
          <string>waw</string>
          <string>wma</string>
        </array>
        <key>CFBundleTypeIconFile</key>
        <string>audio.icns</string>
        <key>CFBundleTypeName</key>
        <string>Audio file</string>
        <key>CFBundleTypeRole</key>
        <string>Viewer</string>
        <key>LSTypeIsPackage</key>
        <false/>
        <key>NSPersistentStoreTypeKey</key>
        <string>XML</string>
      </dict>
      <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>*</string>
          <string>*</string>
          <string>3GP</string>
          <string>3IV</string>
          <string>3gp</string>
          <string>3iv</string>
          <string>ASF</string>
          <string>AVI</string>
          <string>CPK</string>
          <string>DAT</string>
          <string>DIVX</string>
          <string>DV</string>
          <string>FLAC</string>
          <string>FLI</string>
          <string>FLV</string>
          <string>H264</string>
          <string>I263</string>
          <string>M2TS</string>
          <string>M4V</string>
          <string>MKV</string>
          <string>MOV</string>
          <string>MP2</string>
          <string>MP4</string>
          <string>MPEG</string>
          <string>MPG</string>
          <string>MPG2</string>
          <string>MPG4</string>
          <string>NSV</string>
          <string>NUT</string>
          <string>NUV</string>
          <string>OGG</string>
          <string>OGM</string>
          <string>QT</string>
          <string>RM</string>
          <string>RMVB</string>
          <string>VCD</string>
          <string>VFW</string>
          <string>VOB</string>
          <string>WMV</string>
          <string>asf</string>
          <string>avi</string>
          <string>cpk</string>
          <string>dat</string>
          <string>divx</string>
          <string>dv</string>
          <string>flac</string>
          <string>fli</string>
          <string>flv</string>
          <string>h264</string>
          <string>i263</string>
          <string>m2ts</string>
          <string>m4v</string>
          <string>mkv</string>
          <string>mov</string>
          <string>mp2</string>
          <string>mp4</string>
          <string>mpeg</string>
          <string>mpg</string>
          <string>mpg2</string>
          <string>mpg4</string>
          <string>nsv</string>
          <string>nut</string>
          <string>nuv</string>
          <string>ogg</string>
          <string>ogm</string>
          <string>qt</string>
          <string>rm</string>
          <string>rmvb</string>
          <string>vcd</string>
          <string>vfw</string>
          <string>vob</string>
          <string>wmv</string>
        </array>
        <key>CFBundleTypeIconFile</key>
        <string>movie.icns</string>
        <key>CFBundleTypeName</key>
        <string>Movie file</string>
        <key>CFBundleTypeRole</key>
        <string>Viewer</string>
        <key>LSTypeIsPackage</key>
        <false/>
        <key>NSPersistentStoreTypeKey</key>
        <string>XML</string>
      </dict>
      <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>AQT</string>
          <string>ASS</string>
          <string>JSS</string>
          <string>RT</string>
          <string>SMI</string>
          <string>SRT</string>
          <string>SSA</string>
          <string>SUB</string>
          <string>TXT</string>
          <string>UTF</string>
          <string>aqt</string>
          <string>ass</string>
          <string>jss</string>
          <string>rt</string>
          <string>smi</string>
          <string>srt</string>
          <string>ssa</string>
          <string>sub</string>
          <string>txt</string>
          <string>utf</string>
        </array>
        <key>CFBundleTypeIconFile</key>
        <string>subtitles.icns</string>
        <key>CFBundleTypeName</key>
        <string>Subtitles file</string>
        <key>CFBundleTypeRole</key>
        <string>Viewer</string>
        <key>LSTypeIsPackage</key>
        <false/>
        <key>NSPersistentStoreTypeKey</key>
        <string>XML</string>
      </dict>
    </array>
    <key>CFBundleExecutable</key>
    <string>mpv</string>
    <key>CFBundleIconFile</key>
    <string>icon</string>
    <key>CFBundleIdentifier</key>
    <string>io.mpv</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>mpv</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>{{VERSION}}</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Viewer</string>
        <key>CFBundleURLName</key>
        <string>Real Time (Streaming) Protocol</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>rtp</string>
          <string>rtsp</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Viewer</string>
        <key>CFBundleURLName</key>
        <string>File over HTTP/FTP/UDP</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>icyx</string>
          <string>udp</string>
          <string>ftp</string>
          <string>http_proxy</string>
          <string>http</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Viewer</string>
        <key>CFBundleURLName</key>
        <string>Microsoft Media Services</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>mms</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Viewer</string>
        <key>CFBundleURLName</key>
        <string>Cuesheet</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>cue</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Viewer</string>
        <key>CFBundleURLName</key>
        <string>CD/DVD Media</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>dvdnav</string>
          <string>dvd</string>
          <string>vcd</string>
        </array>
      </dict>
    </array>
  </dict>
</plist>
