<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundleDocumentTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>AAC</string>
          <string>AC3</string>
          <string>AIFF</string>
          <string>M4A</string>
          <string>MKA</string>
          <string>MP3</string>
          <string>OGG</string>
          <string>PCM</string>
          <string>VAW</string>
          <string>WAV</string>
          <string>WAW</string>
          <string>WMA</string>
          <string>aac</string>
          <string>ac3</string>
          <string>aiff</string>
          <string>m4a</string>
          <string>mka</string>
          <string>mp3</string>
          <string>ogg</string>
          <string>pcm</string>
          <string>vaw</string>
          <string>wav</string>
          <string>waw</string>
          <string>wma</string>
        </array>
        <key>CFBundleTypeIconFile</key>
        <string>document.icns</string>
        <key>CFBundleTypeName</key>
        <string>Audio file</string>
        <key>CFBundleTypeRole</key>
        <string>Viewer</string>
        <key>LSTypeIsPackage</key>
        <false/>
        <key>NSPersistentStoreTypeKey</key>
        <string>XML</string>
      </dict>
      <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>*</string>
          <string>*</string>
          <string>3GP</string>
          <string>3IV</string>
          <string>3gp</string>
          <string>3iv</string>
          <string>ASF</string>
          <string>AVI</string>
          <string>CPK</string>
          <string>DAT</string>
          <string>DIVX</string>
          <string>DV</string>
          <string>FLAC</string>
          <string>FLI</string>
          <string>FLV</string>
          <string>H264</string>
          <string>I263</string>
          <string>M2TS</string>
          <string>M4V</string>
          <string>MKV</string>
          <string>MOV</string>
          <string>MP2</string>
          <string>MP4</string>
          <string>MPEG</string>
          <string>MPG</string>
          <string>MPG2</string>
          <string>MPG4</string>
          <string>NSV</string>
          <string>NUT</string>
          <string>NUV</string>
          <string>OGG</string>
          <string>OGM</string>
          <string>QT</string>
          <string>RM</string>
          <string>RMVB</string>
          <string>VCD</string>
          <string>VFW</string>
          <string>VOB</string>
          <string>WEBM</string>
          <string>WMV</string>
          <string>MK3D</string>
          <string>asf</string>
          <string>avi</string>
          <string>cpk</string>
          <string>dat</string>
          <string>divx</string>
          <string>dv</string>
          <string>flac</string>
          <string>fli</string>
          <string>flv</string>
          <string>h264</string>
          <string>i263</string>
          <string>m2ts</string>
          <string>m4v</string>
          <string>mkv</string>
          <string>mov</string>
          <string>mp2</string>
          <string>mp4</string>
          <string>mpeg</string>
          <string>mpg</string>
          <string>mpg2</string>
          <string>mpg4</string>
          <string>nsv</string>
          <string>nut</string>
          <string>nuv</string>
          <string>ogg</string>
          <string>ogm</string>
          <string>qt</string>
          <string>rm</string>
          <string>rmvb</string>
          <string>vcd</string>
          <string>vfw</string>
          <string>vob</string>
          <string>webm</string>
          <string>wmv</string>
          <string>mk3d</string>
        </array>
        <key>CFBundleTypeIconFile</key>
        <string>document.icns</string>
        <key>CFBundleTypeName</key>
        <string>Movie file</string>
        <key>CFBundleTypeRole</key>
        <string>Viewer</string>
        <key>LSTypeIsPackage</key>
        <false/>
        <key>NSPersistentStoreTypeKey</key>
        <string>XML</string>
      </dict>
      <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>AQT</string>
          <string>ASS</string>
          <string>JSS</string>
          <string>RT</string>
          <string>SMI</string>
          <string>SRT</string>
          <string>SSA</string>
          <string>SUB</string>
          <string>TXT</string>
          <string>UTF</string>
          <string>aqt</string>
          <string>ass</string>
          <string>jss</string>
          <string>rt</string>
          <string>smi</string>
          <string>srt</string>
          <string>ssa</string>
          <string>sub</string>
          <string>txt</string>
          <string>utf</string>
        </array>
        <key>CFBundleTypeIconFile</key>
        <string>document.icns</string>
        <key>CFBundleTypeName</key>
        <string>Subtitles file</string>
        <key>CFBundleTypeRole</key>
        <string>Viewer</string>
        <key>LSTypeIsPackage</key>
        <false/>
        <key>NSPersistentStoreTypeKey</key>
        <string>XML</string>
      </dict>
    </array>
    <key>CFBundleExecutable</key>
    <string>mpv-bundle</string>
    <key>CFBundleIconFile</key>
    <string>icon</string>
    <key>CFBundleIdentifier</key>
    <string>io.mpv</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>mpv</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>${VERSION}</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Viewer</string>
        <key>CFBundleURLName</key>
        <string>mpv Custom Protocol</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>mpv</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Viewer</string>
        <key>CFBundleURLName</key>
        <string>Streaming Protocol</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>mms</string>
          <string>mmst</string>
          <string>http</string>
          <string>https</string>
          <string>httpproxy</string>
          <string>rtp</string>
          <string>rtsp</string>
          <string>ftp</string>
          <string>udp</string>
          <string>smb</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Viewer</string>
        <key>CFBundleURLName</key>
        <string>CD/DVD/Bluray Media</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>cdda</string>
          <string>dvd</string>
          <string>vcd</string>
          <string>bd</string>
        </array>
      </dict>
    </array>
    <key>UTImportedTypeDeclarations</key>
    <array>
      <dict>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.audio</string>
        </array>
        <key>UTTypeDescription</key>
        <string>AC3 Audio</string>
        <key>UTTypeIconFile</key>
        <string>document.icns</string>
        <key>UTTypeIdentifier</key>
        <string>io.mpv.ac3</string>
        <key>UTTypeReferenceURL</key>
        <string>http://wiki.multimedia.cx/index.php?title=AC3</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.filename-extension</key>
          <array>
            <string>ac3</string>
            <string>a52</string>
            <string>eac3</string>
          </array>
        </dict>
      </dict>
      <dict>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.audio</string>
        </array>
        <key>UTTypeDescription</key>
        <string>DTS Audio</string>
        <key>UTTypeIconFile</key>
        <string>document.icns</string>
        <key>UTTypeIdentifier</key>
        <string>io.mpv.dts</string>
        <key>UTTypeReferenceURL</key>
        <string>http://wiki.multimedia.cx/index.php?title=DTS</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.filename-extension</key>
          <array>
            <string>dts</string>
          </array>
        </dict>
      </dict>
      <dict>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.audio</string>
        </array>
        <key>UTTypeDescription</key>
        <string>Free Lossless Audio Codec</string>
        <key>UTTypeIconFile</key>
        <string>document.icns</string>
        <key>UTTypeIdentifier</key>
        <string>io.mpv.flac</string>
        <key>UTTypeReferenceURL</key>
        <string>http://flac.sourceforge.net/format.html</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.filename-extension</key>
          <array>
            <string>flac</string>
          </array>
        </dict>
      </dict>
      <dict>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.audio</string>
        </array>
        <key>UTTypeDescription</key>
        <string>Matroska Audio</string>
        <key>UTTypeIconFile</key>
        <string>document.icns</string>
        <key>UTTypeIdentifier</key>
        <string>io.mpv.mka</string>
        <key>UTTypeReferenceURL</key>
        <string>http://www.matroska.org</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.filename-extension</key>
          <array>
            <string>mka</string>
          </array>
        </dict>
      </dict>
      <dict>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.audio</string>
        </array>
        <key>UTTypeDescription</key>
        <string>Ogg Audio</string>
        <key>UTTypeIconFile</key>
        <string>document.icns</string>
        <key>UTTypeIdentifier</key>
        <string>io.mpv.ogg-audio</string>
        <key>UTTypeReferenceURL</key>
        <string>http://xiph.org/ogg</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.filename-extension</key>
          <array>
            <string>ogg</string>
          </array>
        </dict>
      </dict>
      <dict>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.audio</string>
        </array>
        <key>UTTypeDescription</key>
        <string>PCM Audio</string>
        <key>UTTypeIconFile</key>
        <string>document.icns</string>
        <key>UTTypeIdentifier</key>
        <string>io.mpv.pcm</string>
        <key>UTTypeReferenceURL</key>
        <string>http://en.wikipedia.org/wiki/Pulse-code_modulation</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.filename-extension</key>
          <array>
            <string>pcm</string>
          </array>
        </dict>
      </dict>
      <dict>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.audio</string>
        </array>
        <key>UTTypeDescription</key>
        <string>Windows Media Audio</string>
        <key>UTTypeIconFile</key>
        <string>document.icns</string>
        <key>UTTypeIdentifier</key>
        <string>io.mpv.wma</string>
        <key>UTTypeReferenceURL</key>
        <string>http://en.wikipedia.org/wiki/Windows_Media_Audio</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.filename-extension</key>
          <array>
            <string>wma</string>
          </array>
        </dict>
      </dict>
      <dict>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.movie</string>
        </array>
        <key>UTTypeDescription</key>
        <string>Audio Video Interleave</string>
        <key>UTTypeIconFile</key>
        <string>document.icns</string>
        <key>UTTypeIdentifier</key>
        <string>io.mpv.avi</string>
        <key>UTTypeReferenceURL</key>
        <string>http://www.the-labs.com/Video/odmlff2-avidef.pdf</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.filename-extension</key>
          <array>
            <string>avi</string>
          </array>
        </dict>
      </dict>
      <dict>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.movie</string>
        </array>
        <key>UTTypeDescription</key>
        <string>DIVX Video</string>
        <key>UTTypeIconFile</key>
        <string>document.icns</string>
        <key>UTTypeIdentifier</key>
        <string>io.mpv.divx</string>
        <key>UTTypeReferenceURL</key>
        <string>http://www.divx.com</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.filename-extension</key>
          <array>
            <string>divx</string>
          </array>
        </dict>
      </dict>
      <dict>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.movie</string>
        </array>
        <key>UTTypeDescription</key>
        <string>DV Video</string>
        <key>UTTypeIconFile</key>
        <string>document.icns</string>
        <key>UTTypeIdentifier</key>
        <string>io.mpv.dv</string>
        <key>UTTypeReferenceURL</key>
        <string>http://en.wikipedia.org/wiki/DV</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.filename-extension</key>
          <array>
            <string>dv</string>
            <string>hdv</string>
          </array>
        </dict>
      </dict>
      <dict>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.movie</string>
        </array>
        <key>UTTypeDescription</key>
        <string>Flash Video</string>
        <key>UTTypeIconFile</key>
        <string>document.icns</string>
        <key>UTTypeIdentifier</key>
        <string>io.mpv.flv</string>
        <key>UTTypeReferenceURL</key>
        <string>http://en.wikipedia.org/wiki/Flash_Video</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.filename-extension</key>
          <array>
            <string>flv</string>
            <string>f4v</string>
            <string>f4p</string>
            <string>swf</string>
          </array>
        </dict>
      </dict>
      <dict>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.movie</string>
        </array>
        <key>UTTypeDescription</key>
        <string>MPEG-2 Transport Stream</string>
        <key>UTTypeIconFile</key>
        <string>document.icns</string>
        <key>UTTypeIdentifier</key>
        <string>io.mpv.mts</string>
        <key>UTTypeReferenceURL</key>
        <string>http://en.wikipedia.org/wiki/.m2ts</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.filename-extension</key>
          <array>
            <string>trp</string>
            <string>m2t</string>
            <string>m2ts</string>
            <string>mts</string>
            <string>mtv</string>
            <string>ts</string>
          </array>
        </dict>
      </dict>
      <dict>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.movie</string>
        </array>
        <key>UTTypeDescription</key>
        <string>Matroska Video</string>
        <key>UTTypeIconFile</key>
        <string>document.icns</string>
        <key>UTTypeIdentifier</key>
        <string>io.mpv.mkv</string>
        <key>UTTypeReferenceURL</key>
        <string>http://www.matroska.org</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.filename-extension</key>
          <array>
            <string>mkv</string>
          </array>
        </dict>
      </dict>
      <dict>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.movie</string>
        </array>
        <key>UTTypeDescription</key>
        <string>Matroska stereoscopic/3D video</string>
        <key>UTTypeIconFile</key>
        <string>document.icns</string>
        <key>UTTypeIdentifier</key>
        <string>io.mpv.mk3d</string>
        <key>UTTypeReferenceURL</key>
        <string>http://www.matroska.org</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.filename-extension</key>
          <array>
            <string>mk3d</string>
          </array>
        </dict>
      </dict>
      <dict>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.movie</string>
        </array>
        <key>UTTypeDescription</key>
        <string>WebM Video</string>
        <key>UTTypeIconFile</key>
        <string>document.icns</string>
        <key>UTTypeIdentifier</key>
        <string>io.mpv.webm</string>
        <key>UTTypeReferenceURL</key>
        <string>http://www.webmproject.org</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.filename-extension</key>
          <array>
            <string>webm</string>
          </array>
        </dict>
      </dict>
      <dict>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.movie</string>
        </array>
        <key>UTTypeDescription</key>
        <string>Ogg Video</string>
        <key>UTTypeIconFile</key>
        <string>document.icns</string>
        <key>UTTypeIdentifier</key>
        <string>io.mpv.ogv</string>
        <key>UTTypeReferenceURL</key>
        <string>http://xiph.org/ogg</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.filename-extension</key>
          <array>
            <string>ogm</string>
            <string>ogv</string>
          </array>
        </dict>
      </dict>
      <dict>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.movie</string>
        </array>
        <key>UTTypeDescription</key>
        <string>Real Media</string>
        <key>UTTypeIconFile</key>
        <string>document.icns</string>
        <key>UTTypeIdentifier</key>
        <string>io.mpv.rmvb</string>
        <key>UTTypeReferenceURL</key>
        <string>http://www.real.com</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.filename-extension</key>
          <array>
            <string>rmvb</string>
            <string>rm</string>
          </array>
        </dict>
      </dict>
      <dict>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.movie</string>
        </array>
        <key>UTTypeDescription</key>
        <string>Video Object</string>
        <key>UTTypeIconFile</key>
        <string>document.icns</string>
        <key>UTTypeIdentifier</key>
        <string>io.mpv.vob</string>
        <key>UTTypeReferenceURL</key>
        <string>http://en.wikipedia.org/wiki/VOB</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.filename-extension</key>
          <array>
            <string>vob</string>
          </array>
        </dict>
      </dict>
      <dict>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.movie</string>
        </array>
        <key>UTTypeDescription</key>
        <string>Windows Media Video</string>
        <key>UTTypeIconFile</key>
        <string>document.icns</string>
        <key>UTTypeIdentifier</key>
        <string>io.mpv.wmv</string>
        <key>UTTypeReferenceURL</key>
        <string>http://en.wikipedia.org/wiki/Windows_Media_Video</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.filename-extension</key>
          <array>
            <string>wmv</string>
          </array>
        </dict>
      </dict>
      <dict>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.movie</string>
        </array>
        <key>UTTypeDescription</key>
        <string>XVID Video</string>
        <key>UTTypeIconFile</key>
        <string>document.icns</string>
        <key>UTTypeIdentifier</key>
        <string>io.mpv.xvid</string>
        <key>UTTypeReferenceURL</key>
        <string>http://www.xvid.org</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.filename-extension</key>
          <array>
            <string>xvid</string>
          </array>
        </dict>
      </dict>
      <dict>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.movie</string>
        </array>
        <key>UTTypeDescription</key>
        <string>AVC raw stream</string>
        <key>UTTypeIconFile</key>
        <string>document.icns</string>
        <key>UTTypeIdentifier</key>
        <string>io.mpv.h264</string>
        <key>UTTypeReferenceURL</key>
        <string>http://www.itu.int/rec/T-REC-H.264</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.filename-extension</key>
          <array>
            <string>264</string>
          </array>
        </dict>
      </dict>
      <dict>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.movie</string>
        </array>
        <key>UTTypeDescription</key>
        <string>HEVC raw stream</string>
        <key>UTTypeIconFile</key>
        <string>document.icns</string>
        <key>UTTypeIdentifier</key>
        <string>io.mpv.hevc</string>
        <key>UTTypeReferenceURL</key>
        <string>http://hevc.info</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.filename-extension</key>
          <array>
            <string>hevc</string>
          </array>
        </dict>
      </dict>
      <dict>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.movie</string>
        </array>
        <key>UTTypeDescription</key>
        <string>YUV stream</string>
        <key>UTTypeIconFile</key>
        <string>document.icns</string>
        <key>UTTypeIdentifier</key>
        <string>io.mpv.yuv</string>
        <key>UTTypeReferenceURL</key>
        <string>http://en.wikipedia.org/wiki/YUV</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.filename-extension</key>
          <array>
            <string>yuv</string>
          </array>
        </dict>
      </dict>
      <dict>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.movie</string>
        </array>
        <key>UTTypeDescription</key>
        <string>YUV4MPEG2 stream</string>
        <key>UTTypeIconFile</key>
        <string>document.icns</string>
        <key>UTTypeIdentifier</key>
        <string>io.mpv.y4m</string>
        <key>UTTypeReferenceURL</key>
        <string>http://wiki.multimedia.cx/index.php?title=YUV4MPEG2</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.filename-extension</key>
          <array>
            <string>y4m</string>
          </array>
        </dict>
      </dict>
      <dict>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.plain-text</string>
        </array>
        <key>UTTypeDescription</key>
        <string>SubRip Subtitle</string>
        <key>UTTypeIconFile</key>
        <string>document.icns</string>
        <key>UTTypeIdentifier</key>
        <string>io.mpv.subrip</string>
        <key>UTTypeReferenceURL</key>
        <string>http://en.wikipedia.org/wiki/SubRip</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.filename-extension</key>
          <array>
            <string>srt</string>
          </array>
        </dict>
      </dict>
      <dict>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.plain-text</string>
        </array>
        <key>UTTypeDescription</key>
        <string>MicroDVD Subtitle</string>
        <key>UTTypeIconFile</key>
        <string>document.icns</string>
        <key>UTTypeIdentifier</key>
        <string>io.mpv.sub</string>
        <key>UTTypeReferenceURL</key>
        <string>http://en.wikipedia.org/wiki/MicroDVD</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.filename-extension</key>
          <array>
            <string>sub</string>
          </array>
        </dict>
      </dict>
      <dict>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.plain-text</string>
        </array>
        <key>UTTypeDescription</key>
        <string>SubStation Alpha Subtitle</string>
        <key>UTTypeIconFile</key>
        <string>document.icns</string>
        <key>UTTypeIdentifier</key>
        <string>io.mpv.ass</string>
        <key>UTTypeReferenceURL</key>
        <string>https://github.com/libass/libass</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.filename-extension</key>
          <array>
            <string>ass</string>
            <string>ssa</string>
          </array>
        </dict>
      </dict>
      <dict>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.data</string>
        </array>
        <key>UTTypeDescription</key>
        <string>VobSub Subtitle</string>
        <key>UTTypeIconFile</key>
        <string>document.icns</string>
        <key>UTTypeIdentifier</key>
        <string>io.mpv.vobsub</string>
        <key>UTTypeReferenceURL</key>
        <string>http://en.wikipedia.org/wiki/DirectVobSub</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.filename-extension</key>
          <array>
            <string>idx</string>
            <string>sub</string>
          </array>
        </dict>
      </dict>
      <dict>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.plain-text</string>
        </array>
        <key>UTTypeDescription</key>
        <string>SAMI Subtitle</string>
        <key>UTTypeIconFile</key>
        <string>document.icns</string>
        <key>UTTypeIdentifier</key>
        <string>io.mpv.smi</string>
        <key>UTTypeReferenceURL</key>
        <string>http://en.wikipedia.org/wiki/SAMI</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.filename-extension</key>
          <array>
            <string>smi</string>
            <string>smil</string>
          </array>
        </dict>
      </dict>
    </array>
  </dict>
</plist>
