#include <windows.h>

#include <ntverp.h>

#undef VER_COMPANYNAME_STR
#undef VER_PRODUCTNAME_STR

#define VER_FILETYPE									VFT_DRV
#define VER_FILESUBTYPE								VFT2_DRV_SYSTEM
#define VER_FILEDESCRIPTION_STR     	"DhaHelper - Direct HardWare Access Driver"
#define VER_INTERNALNAME_STR        	"DhaHelper.sys"
#define VER_ORIGINALFILENAME_STR    	"DhaHelper.sys"
#define VER_LEGALCOPYRIGHT_STR      	"Sascha Sommer"
#define VER_COMPANYNAME_STR         	"MPlayer <http://svn.mplayerhq.hu/mplayer/trunk/vidix/dhahelperwin/>"
#define VER_PRODUCTNAME_STR         	"DhaHelper Driver V1.0"

#include "common.ver"
