name: lint

on:
  push:
    branches:
      - master
      - ci
      - 'release/**'
  pull_request:
    branches: [master]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  commit-msg:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 50

      - name: Lint
        run: |
          ./ci/lint-commit-msg.py

  swift:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: norio-nomura/action-swiftlint@3.2.1

  lua:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: lunarmodules/luacheck@v1

  ruff:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Check
        id: check
        uses: astral-sh/ruff-action@v3
        with:
          src: ". TOOLS/umpv"
      - name: Suggested changes
        if: ${{ failure() && steps.check.outcome == 'failure' }}
        run: ruff check . TOOLS/umpv --diff

  mypy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: python/mypy@master
        with:
          install_project_dependencies: no
          options: '--check-untyped-defs'
          paths: ". TOOLS/umpv"

  editorconfig:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: editorconfig-checker/action-editorconfig-checker@main
      - run: editorconfig-checker -config .editorconfig-checker.json

  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: pre-commit/action@v3.0.1

  clang-format-lint:
    runs-on: ubuntu-latest
    container:
      image: "registry.opensuse.org/home/mia/images/images/mpv-ci:stable-deps"
    if: github.event_name == 'pull_request'
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 50
      - name: Check Formatting
        run: git clang-format ${{ github.event.pull_request.base.sha }} --diff
